.notice-box:not(:last-child) {
    margin-bottom: 25px
}

.notice-box :last-child {
    margin-bottom: 0
}

.notice-box {
    padding: 20px
}

.notice-box.info {
    background: #f0f6fc;
    border-left: 4px solid #72aee6
}

.notice-box.warning {
    background: #fcf9e8;
    border-left: 4px solid #dba617
}

.notice-box.success {
    background: #edfaef;
    border-left: 4px solid #00a32a
}

.notice-box.danger {
    background: #fcf0f1;
    border-left: 4px solid #d63638
}